on:
  pull_request_review_comment:
    types:
      - types: [created, changed]

jobs:
  label_issue:
    runs-on: ubuntu-latest
    steps:
      - env:
          GITHUB_TOKEN: ${{ secrets.MY_TOKEN }}
          PR: ${{ github.event.pull_request.html_url }}
        run: |
          gh pr comment $PR --body 'THANK YOU FOR YOUR COMMENT. WE'LL CONTACT YOU DURING THE NEXT 1000 HOURS!'
